name: Upload Release Asset (agent)

on:
  push:
    tags:
      - "agent-v*"

jobs:
  main:
    name: Upload Release Asset (agent)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Java 11
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Build project
        run: |
          ./gradlew :projector-plugin:buildPlugin
          cd projector-plugin/build/distributions
          find . -maxdepth 1 -type f -name projector-plugin-*.zip -exec mv {} projector-plugin.zip \;
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
      - name: Tag name  # Inspired from https://github.community/t/how-to-get-just-the-tag-name/16241/11
        id: tag_name
        run: echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
      - name: Upload Release Asset (agent)
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: projector-plugin/build/distributions/projector-plugin.zip
          asset_name: projector-plugin-${{ steps.tag_name.outputs.SOURCE_TAG }}.zip
          asset_content_type: application/zip
